@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dynalight&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Common Color*/
$white:#fff;
$black:#333;
$gray:#6C6C6C;
$red:#EB1400;
$cta:#005126;
$bg:#6c6c6c1c;
$border:rgb(18 18 18 / 30%);
$black-bg:#151616;
$gray-bg:#f2f2f6;
$card-bg: #ffffff;
$card-border: #e9ecef;
$text-muted: #6c757d;
$shadow: 0 6px 20px rgba(0, 0, 0, 0.06);

/*Theme color*/
$heading_color: #072f25;
$primary_color: #EB1400;
$primary_color_2: #28794E;
$primary_color_3: #FF9924;
$ctg_bg:#3F9065;
$accent_color: #96ae0017;
$border-bottom:#2d2a6eb0;
$border-color:#1212121f;

/*Theme color*/
$title-font: "Barlow Condensed", sans-serif;
$body-font:  "Inter", sans-serif;
$subtitle: "Dynalight", cursive;



