//bannar area start
.banner-area {
    background: url('../img/banner_img/hero_image.png') center/cover no-repeat;
    width: 100%;
    position: relative;
    .swiper-wrapper {
        cursor: default;
    }
    .slider-text {
        padding-left: 125px;
        padding-bottom: 30px;
        span{
          display: block;
          color: $primary_color;
          text-transform: capitalize;
        }
        h1 {
            text-transform: capitalize;
            margin-top: 28px;
            font-size: 104px;
            margin-bottom: 35px;
            line-height: 1;
            font-weight: 700;
        }
        p {
            margin-bottom: 55px;
            padding-right: 300px;
        }
    }
    .banner-img {
        // background: $primary_color_2;
        // padding: 20px 0 20px 20px;
        // border-radius: 415px 0 0 415px;
        // height: 100vh;
        img{
        //    border-radius: 400px 0 0 400px;
        //    object-fit: cover;
        //    height: 100%;
        //    width: 100%;
        }
       }
}

//About-section-banner
.about-banner {
    background: #e9c590;
    overflow: hidden;
    height: 30pc;
    .about-text{
        padding-left: 215px;
        padding-bottom: 100px;
        h1{
            font-size: 80px;
            color: $black;
        }
        a{
            font-size: 20px;
            font-family: $body-font;
            font-weight: 500;
            transition: .4s;
            &:hover{
                color: $primary_color;
            }
        }
    }
    .about-section-img {
        text-align: end;
        img{
            width: 40pc;
        }
    }
}


























.banner-area {
    overflow: hidden;
    &::before {
        content: "";
        width: 1243px;
        height: 1243px;
        position: absolute;
        right: -426px;
        top: -147px;
        background: #3f9065;
        opacity: .4;
        animation: animate-border-radius 20s linear infinite running;
    }
} 


.banner-area .banner-img {
    background: #3f9065;
}

@keyframes animate-border-radius {
  0% {
    border-radius: 30% 70% 38% 62% / 47% 37% 63% 53%;
  }
  
  20% {
    border-radius: 42% 58% 58% 42% / 34% 41% 59% 66%;
  }
  
  40% {
    border-radius: 56% 44% 62% 38% / 44% 22% 78% 56%;
  }
  
  60% {
    border-radius: 60% 40% 38% 62% / 52% 35% 65% 48%;
  }
  
  80% {
    border-radius: 60% 40% 49% 51% / 52% 61% 39% 48%;
  }
  
  100% {
    border-radius: 30% 70% 38% 62% / 47% 37% 63% 53%;
  }
}

