.cart-wrapper {
    width: 90%;
    margin: 0 auto;
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .cart-table {
        width: 100%;
        border-collapse: collapse;
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
            border-left: 0;
        }
        th {
            background-color: #072f25;
            border-right: 0;
            color: white;
        }
        img {
            width: 80px;
            height: auto;
        }
        .remove-btn {
            color: red;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .checkout-wrapper {
        text-align: center;
        margin-top: 20px;
        .checkout-btn {
            display: inline-block;
            background-color: #FF9924;
            color: #fff;
            padding: 12px 25px;
            text-decoration: none;
            font-weight: bold;
            border-radius: 5px;
            &:hover {
                background-color: #219150;
            }
        }
    }
    .empty-msg {
        text-align: center;
        font-size: 18px;
        color: #888;
        margin-top: 50px;
    }
}
