// =========================
// Header Top Area
// =========================
.header-area-top {
    background: $heading_color;
    padding: 12px 0;
    color: #fff;
    height: 45px;
    .custom__container{
      max-width: 1720px;
      margin: auto;
    }
.top-area {
    ul{
      .top-header-left {
        display: flex;
        gap: 20px;
        position: relative;
        li i {
          color: $primary_color_3;
          font-size: 15px;
          margin-right: 6px;
        }
        &::after{
          content: "";
          height: 16px;
          width: 1px;
          background-color: #fff;
          opacity: 0.4;
          position: absolute;
          top: 0px;
          right: 617px;
          margin-top: 3px;
      }
       &::before{
          content: "";
          height: 16px;
          width: 1px;
          background-color: #fff;
          opacity: 0.4;
          position: absolute;
          top: 0px;
          right: 785px;
          margin-top: 3px;
      }
        span {
          font-size: 15px;
          font-family: $body-font;
          color: $white;
          font-weight: 500;
        }
      }
  }
}
  .top_header_right {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
    position: relative;

    li a {
      color: $white;
      font-size: 14px;
      transition: color 0.3s;

      &:hover {
        color: $primary_color;
      }
    }
    .contactinfo {
      display: flex;
      align-items:center;
      margin-left: 37px;
      gap: 10px;
        &::after{
          content: "";
          height: 16px;
          width: 1px;
          background-color: #fff;
          opacity: 0.4;
          position: absolute;
          top: 0px;
          right: 149px;
          margin-top: 5px;
      }
      .call-icon {
        display: flex;
        i{
          color: $primary_color_3;
          font-size: 15px;
        }
      }
      a{
        color: $white;
        font-family: $body-font;
        font-size: 16px;
        font-weight: 500;
        transition: .3s;
        &:hover{
          color: $primary_color_3;
        }
      }
    }
    .social-icons {
      display: flex;
      list-style: none;
      gap: 10px;
      margin-left: 20px;
      a{
        i{
          display: flex;
          font-size: 11px;
          color: #fff;
          width: 25px;
          height: 25px;
          border: 1px solid white;
          border-radius: 50px;
          align-items: center;
          justify-content: center;
          transition: .3s;
          &:hover{
          color: $black;
          background-color: $primary_color_3;
          border-color: $primary_color_3;
        }
        }
      }
    }
  }
}

// =========================
// Header Main
// =========================
.header-main {
    padding: 18px;
    border-bottom: 1px solid rgba(108, 108, 108, 0.168627451);
    position: sticky;
    top: 0;
    z-index: 999999;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  .custom__container{
    max-width: 1720px;
    margin: auto;
  }
  .logo {
    img {
      padding-left: 28px;
    }
  }
  .header__icon {
    .header__info-user,
    .header__info-wishlist,
    .header__info-cart {
      
      color: $red;
      font-size: 16px;
      margin-right: 10px;
      &:hover {
        color: red;
      }
    }
  }
  .header_menu {
    .main-menu {
      position: relative;

      ul {
        margin: 0;
        padding: 0;

        li {
          position: relative;
          list-style: none;
          display: inline-block;
          margin: 0 20px;

          &:hover > ul.submenu {
            opacity: 1;
            visibility: visible;
            top: 100%;
          }

          a {
            display: block;
            color: $heading_color;
            font-weight: 600;
            font-family: $title-font;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: .6px;
            transition: color 0.4s;

            &:hover {
              color: $primary_color;
            }
          }

          ul.submenu {
            position: absolute;
            width: 250px;
            top: 110%;
            left: 0;
            background: #fff;
            border-top: 2px solid $primary_color;
            text-align: left;
            transition: all 0.3s ease;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 15px 0;
            margin-top: 25px;
            opacity: 0;
            visibility: hidden;
            z-index: 1;

            li {
              display: block;
              margin: 0;

              a {
                padding: 9px 25px;
                text-transform: capitalize;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}



