//bannar area start
.letstalk-area {
    background: url('../img/All_img/letstalk.png') center/cover no-repeat;
    width: 100%;
    position: relative;
    height: 36pc;
    position: relative;
    overflow: hidden;
    .letstalk{
      .letstalk-text {
        h1 {
            text-transform: capitalize;
            margin-top: 28px;
            font-size: 104px;
            margin: 90px;
            line-height: 1;
            font-weight: 700;
        }
      }
      .fram{
        height: 200px;
        width: 200px;
        text-align: center;
        line-height: 200px;
        font-size: 20px;
        font-weight: 500;
        margin: 0 auto 0;
        background: rgba(255, 255, 255, 0.0705882353);
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.1294117647);
        position: relative;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        a{
          color: $white;
          transition: .4s;
          &:hover{
            color: $primary_color;
          }
        }
      }
    }
}





























.banner-area {
    overflow: hidden;
    &::before {
        content: "";
        width: 1243px;
        height: 1243px;
        position: absolute;
        right: -426px;
        top: -147px;
        background: #3f9065;
        opacity: .4;
        animation: animate-border-radius 20s linear infinite running;
    }
} 


.banner-area .banner-img {
    background: #3f9065;
}

@keyframes animate-border-radius {
  0% {
    border-radius: 30% 70% 38% 62% / 47% 37% 63% 53%;
  }
  
  20% {
    border-radius: 42% 58% 58% 42% / 34% 41% 59% 66%;
  }
  
  40% {
    border-radius: 56% 44% 62% 38% / 44% 22% 78% 56%;
  }
  
  60% {
    border-radius: 60% 40% 38% 62% / 52% 35% 65% 48%;
  }
  
  80% {
    border-radius: 60% 40% 49% 51% / 52% 61% 39% 48%;
  }
  
  100% {
    border-radius: 30% 70% 38% 62% / 47% 37% 63% 53%;
  }
}

